{
  "openapi": "3.0.1",
  "info": {
    "title": "iShortn API",
    "description": "This is the API documentation for the iShortn API. This API is used to shorten URLs.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ishortn.ink/api/"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/dynamic-links": {
      "get": {
        "description": "Returns the actual url for the given shortened dynamic link",
        "parameters": [
          {
            "name": "Shortened Part of the Dynamic Link",
            "in": "query",
            "description": "The shortened part of the dynamic link. Example: xYzAbC",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The actual url passed in during the creation of the dynamic link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "description": "The actual url passed in during the creation of the dynamic link",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The dynamic link was not found"
          }
        }
      },
      "post": {
        "description": "Creates a new dynamic link",
        "requestBody": {
          "description": "Dynamic link to create",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "projectSubdomain": {
                    "description": "The subdomain you want to create the dynamic link for. You must own this project.",
                    "type": "string"
                  },
                  "link": {
                    "description": "A link that your application can handle",
                    "type": "string"
                  },
                  "metaData": {
                    "description": "The metadata to add to the dynamic link",
                    "type": "object",
                    "properties": {
                      "title": {
                        "description": "The title of the link. Please know that this has a max of 191 characters. Title should be short and concise.",
                        "type": "string"
                      },
                      "description": {
                        "description": "The description of the link. Please know that this has a max of 191 characters. Description should be short and concise.",
                        "type": "string"
                      },
                      "imageUrl": {
                        "description": "The image of the link",
                        "type": "string"
                      }
                    }
                  },
                  "fallbackUrl": {
                    "description": "The fallback url to open if the user is on an unsupported platform",
                    "type": "string"
                  },
                  "createdFromUI": {
                    "description": "The UID of the user that created the dynamic link. This is used to determine if the link is showed in the dashboard",
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The shortened dynamic link",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "url": {
                      "description": "The shortened dynamic link",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error"
          },
          "404": {
            "description": "The project was not found for the given subdomain"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-ishortn-key",
        "in": "header"
      }
    }
  }
}
